<div class="col-md-8 blog-main">


  <div class="blog-post">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      ログイン
    </h3>

    <%= render 'sessions/form', user: @user %>

    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="<%= url_for controller: 'home', action: 'index' %>">戻る </a>
    </nav>
  </div>
</div>
