<div class="col-md-8 blog-main">


  <div class="blog-post">

    <h3 class="pb-3 mb-4 font-italic border-bottom">
      投稿一覧
    </h3>
    <h2 class="blog-post-title">
      <a href="/show/4" class="text-dark">
        テスト投稿</a>
    </h2>
    <p class="blog-post-meta">
      投稿:2018年05月13日 14:24:53 更新:2018年05月13日 14:24:53
    </p>

    <p>テスト投稿</p>


    <h2 class="blog-post-title">
      <a href="/show/3" class="text-dark">
        hogehoge2</a>
    </h2>
    <p class="blog-post-meta">
      投稿:2018年05月06日 22:23:18 更新:2018年05月06日 22:23:18
    </p>

    <p>hogwhgo</p>


    <h2 class="blog-post-title">
      <a href="/show/2" class="text-dark">
        hoge</a>
    </h2>
    <p class="blog-post-meta">
      投稿:2018年05月06日 22:22:08 更新:2018年05月06日 22:22:08
    </p>

    <p>hogehoge</p>


    <h2 class="blog-post-title">
      <a href="/show/1" class="text-dark">
        サンプルタイトル</a>
    </h2>
    <p class="blog-post-meta">
      投稿:2018年05月06日 22:07:06 更新:2018年05月06日 22:07:06
    </p>

    <p>サンプル投稿</p>


    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="/page/1">前へ </a>
      <a class="btn btn-outline-primary" href="/page/2">次へ</a>
    </nav>

  </div>


</div><!-- /.blog-main-->

