<div class="col-md-8 blog-main">


  <div class="blog-post">

    <h3 class="pb-3 mb-4 font-italic border-bottom">
      投稿一覧 <br>
      <%= @page_number %>ページ目
    </h3>

    <%= render 'layouts/contents_list' %>

    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="<%= url_for controller: 'pages', action: 'show', id: @page_number - 1 %>">前へ </a>
      <a class="btn btn-outline-primary" href="<%= url_for controller: 'pages', action: 'show', id: @page_number + 1 %>">次へ</a>
    </nav>

  </div>


</div><!-- /.blog-main-->
