<div class="col-md-8 blog-main">


  <div class="blog-post">

    <h3 class="pb-3 mb-4 font-italic border-bottom">
      このブロクについて
    </h3>
    <h4>自己紹介</h4>
    <ul>
      <li>名前 :KKimishima</li>
      <li>Twitter :<a href="https://twitter.com/k_kimikatsu123">@k_kimikatsu123</a></li>
      <li>github <a href="https://github.com/KKimishima">KKimishima</a></li>
      <li>仕事 :茨木の工場の管理部門</li>
      <li>プログラム歴 :趣味の独学2年</li>
      <li>できる言語 Java,Python,Ruby,js</li>
      <li>勉強したい言語 Go,C#,php</li>
    </ul>

    <h4>目的</h4>
    RubyOnRailsのドックフードとRails機能の検証のために作成したサイトです。<br>
    完全に趣味でやっているため、誤った情報があると思いますがご了承ください<br>
  </div>


  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="<%= url_for controller: 'articles', action: 'index' %>">戻る </a>
  </nav>

</div><!-- /.blog-main-->
