<aside class="col-md-4 blog-sidebar">
  <div class="p-3">
    <h4 class="font-italic">アーカイブ</h4>
    <ol class="list-unstyled mb-0">
      <% Article.archives_count.each do |key, value| %>
        <li>
          <a href="<%= url_for controller: 'archives', action: "show", id: key %>">
            <%= value %>
          </a>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">リンク</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/KKimishima">GitHub</a></li>
      <li><a href="https://twitter.com/k_kimikatsu123">Twitter</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">タグ</h4>
    <% Tag.count_hash.each do |key, item| %>
      <a href="<%= url_for controller: 'tags', action: 'show', id: key %>" class="badge badge-secondary">
        <%= item %>
      </a>
    <% end %>
  </div>
</aside>
